html {
    margin: 0;
}

body {
    margin: 0;
    height: 100%;
    background-color: #303030;
    /*skuska5*/
}

.grid {
    display: grid;
    grid-template-columns: 0.8fr 2fr 2fr 2fr;
}

img {
    display: block;
    margin: auto;
    margin-bottom: 1%;
    max-width: 100%;
    height: auto;
}

p {
    text-align: center;
    margin: 0;
    margin-bottom: 1%;
}

.range-row1 {
    background-color: #424242;
    border-radius: 10px;
    margin: 0.4%;
    padding: 1%;
    color: #C3C3C3;
    font-family: Calibri;
}

.buttons {
    display: grid;
    grid-template-rows: repeat(1fr, 6);
    margin-top: 0.5%;
}

.tlacidlo {
    background-color: #424242;
    border-radius: 5px;
    width: 95%;
    margin: 0.4%;
    padding: 1%;
    display: inline-block;
    color: #C3C3C3;
    font-family: Calibri;
    left: 150px;
}

.pismo-tlacidlo {
    margin: 15%;
}

.tlacidlo:hover {
    background-color: #484848;
    color: #FFFFFF;
}

.tlacidloStlacene {
    background-color: #484848;
    color: #FFFFFF;
    border-right: 3px solid rgba(255, 126, 0, 0.68);
}